/* Minify this and put it in the form in a style tag */
#remoteForm .btn {
    border: 2px solid #0d8894;
    border-radius: 3em;
    background-color: #0d8894 !important;
    font-weight: 600;
    padding: 0.5em 1.7em;
    margin-left: 1.5em;
    text-transform: none;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
    font-size: 14pt;
    clear: both;
}
